@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hakkımızda Yazı Güncelleme Sayfası</h5>

                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="AboutID" />
                            <div class="col-12">
                                <label for="Title" class="form-label">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                            <div class="col-12">
                                <input type="hidden" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                                <label for="ImageUrl" class="col-sm-2 col-form-label">Görsel Seçiniz</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="formFile">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="Description" class="form-label">Açıklamayı Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="Description"></textarea>
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Hakkımızda Yazısını Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

