@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Yeni Ürün Girişi</h5>

                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            <div class="col-12">
                                <label for="ProductName" class="form-label">Ürün Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="ProductName" id="ProductName">
                            </div>
                            <div class="col-12">
                                <label for="Price" class="form-label">Ürün Fiyatını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Price" id="Price">
                            </div>
                            <div class="col-12">
                                <input type="hidden" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                                <label for="ImageUrl" class="col-sm-2 col-form-label">Görsel Seçiniz</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="formFile">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="categoryid" class="form-label">Ürün Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>
                            <div class="col-12">
                                <label for="Description" class="form-label">Ürün Açıklamasını Giriniz</label>
                                <textarea rows="2" class="form-control" asp-for="Description" id="Description"></textarea>
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Ürünü Ekle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

