@model List<ResultMenuTableDto>
@{
    ViewData["Title"] = "TableListByStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7282/SignalRHub").build();
        connection.start().then(() => {
            setInterval(() => {
                connection.invoke("GetMenuTableStatus");
            }, 1000);
        }).catch((err) => { console.log(err) });

        connection.on("ReceiveMenuTableStatus", (value) => {
            console.log(value);
            let tablehtml = ``;
            let statusColor;
            let status;
            $.each(value, (index, item) => {
                if (item.status) {
                    statusColor = "card info-card bg-success";
                    status = "Masa Dolu";
                }
                else {
                    statusColor = "card info-card bg-danger";
                    status = "Masa Boş";
                }

                tablehtml += `<div class="col-lg-3 col-md-6">
                                <div class="${statusColor}">
                                    <div class="card-body">
                                        <h5 class="table-card-title"><small><b>${item.name}</b></small></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-desktop"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="text-light">${status}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`;

            });
            $("#menutablestatus").html(tablehtml);
        });
    });
</script>

<div class="pagetitle">
    <h1>Masa Listesi</h1>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div id="menutablestatus" class="row"></div>
        </div>
    </div>
</section>

