@model UpdateMenuTableDto
@{
    ViewData["Title"] = "UpdateMenuTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Masa İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Masa Güncelleme Sayfası</h5>

                        <form class="row g-3" method="post">
                            <input type="hidden" asp-for="MenuTableID" />
                            <div class="col-12">
                                <label for="Name" class="form-label">Masa Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name">
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Masayı Güncelle</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
